<!--
<div class="row">
    <div class="col-md-6">
        <h1>{{user.name}}</h1><br>
        <a ng-href="{{user.site}}">{{user.site}}</a>
        <p>{{user.bio}}</p>
    </div>
</div>
-->

<div class="row">
    <div class="col-md-7">
        <h1>{{user.firstName}} {{user.lastName}}</h1><br>
        <p>Picture : <span>{{user.picture}}</span></p>
        <p>role : <span>{{user.role}}</span></p>
        <p>attachment : <span>{{user.attachment}}</span></p>

        <p>mail : <span>{{user.mail}}</span></p>
        <p>tel : <span>{{user.tel}}</span></p>

    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <h1>Godefroy Le Merdy</h1><br>
        <p>Picture : <span>voilà ma photo</span></p>
        <p>role : <span>Performance analyst</span></p>
        <p>attachment : <span>SE dtp</span></p>

        <p>mail : <span>godefroy.lemerdy@....com</span></p>
        <p>tel : <span>06 18 46 15 73</span></p>

    </div>
</div>
