<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#/app/users">Users</a>
        </li>
        <li><a class="active" href="#/app/users/{{user._id}}">{{user.username}}</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <h3 class="page-title">Profile: {{user.firstName}} {{user.lastName}}</h3>
</div>

<div class="container-fluid container-fixed-lg">
    <!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
                 ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN
                  -->
    <!-- CONTENT GOES HERE-->

    <div class="row">
        <div class="col-md-7">
            <p>Picture : <span>{{user.picture}}</span></p>
            <p>role : <span>{{user.role}}</span></p>
            <p>attachment : <span>{{plantName}}</span></p>

            <p>mail : <span>{{user.mail}}</span></p>
            <p>tel : <span>{{user.tel}}</span></p>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr>
            <a ng-href="#/app/users/{{user._id}}/edit" class="btn btn-default">Edit User</a>
            <!--<a href="" ng-click="deleteNote(note)" class="btn btn-danger">Delete Plant</a>-->
        </div>
    </div>

</div>
