<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#/app/plants">Plants</a>
        </li>
        <li>
          <a href="#/app/plants">All</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
</div>

<div class="container-fluid container-fixed-lg">
    <!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
                 ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN
                  -->
    <!-- CONTENT GOES HERE-->
  <div class="row">
    <div class="col-xs-12">
      <h1><span class="label label-primary">{{ notes.length }}</span> Plants are listed | <a class="btn btn-default" href="#/app/plants/new">New Plant</a></h1>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-4">
          <br>
          <div class="input-group">
            <input type='text' class="form-control" placeholder="Search plant ..." ng-model="search.input.$">
            <span class="input-group-btn"><button class="btn btn-default" type="button">Search !</button></span>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
          <br>
          
          <nw-category-selector ng-model="search.category"></nw-category-selector>
      </div>
  </div>

  <div class="row">
    <ul class="col-sm-6 list-unstyled">
      <li ng-repeat="note in notes | categoryFilter:search.category | filter:search.input">
          <h3>
            <a title="{{note.user.name}}" ng-href="#/app/plants/{{note._id}}">{{note.title}}</a> - 
            <span class="label label-info smaller">{{categoryName[note.categoryId - 1].name}}</span>
          </h3>
      </li>
    </ul>

    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>
</div>