

/* ----------------------- */
/*       Home page         */
/* ----------------------- */

.content .home {
    margin-left: -250px;
}



/* ----------------------- */
/*          Navbar         */
/* ----------------------- */


img.brand {
    width: 155px;
    margin-left: 17px;
}

.page-sidebar .sidebar-header {
    background-color: rgb(19, 30, 77);
}

.suez-bg { position: relative; }

.suez-bg:before {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-right: -13.125em;
    width: 23.125em;
    height: 100%;
    background: url(../images/generic-spiral-green1-273.png) no-repeat 0 50%;
    content: '';
}




/*********** CHANGING TO FIT SUEZ COLOR ***************/


.green { color: rgb(170, 220, 20); }
.blue { color: rgb(19, 30, 77); }

