<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a class="logo" href="/#/" title="SE EfW App">
                    <img src="assets/images/logo.png" alt="SE EfW App">
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': isPage('notes')}"><a href="#/notes">Plants</a></li>
                <li ng-class="{'active': isPage('users')}"><a href="#/users">Users</a></li>
                <li ng-class="{'active': isPage('about')}"><a href="#/about">About</a></li>
            </ul>
            <div ng-controller="logoutController" class="nav navbar-nav navbar-right">
                <p class="{{islogged ? 'visible' : 'hidden'}}">Welcome {{user.firstName}} 
                    <span>
                        <a ng-click='logout()' class="btn btn-default {{islogged ? 'visible' : 'hidden'}}">Logout</a>
                    </span>
                </p>
            </div>         
        </div>
    </div>
</nav>