<div class="content">
    <div class="row margin-bottom">
        <div class="col-xs-6 col-md-offset-3">
            <h1 class="text-center blue bordered">About</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img class="about-icon" src="assets/images/picto/discuss.png">
                </div>
                <div class="col-md-8">
                    <h4 class="media-heading">Comments and questions</h4>
                    <p>We are here to hear your feedback. Post your questions and comments by mail to <a href="mailto:godefroy.lemerdy@suez-env.com">Godefroy Le Merdy</a>.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img class="about-icon" src="assets/images/picto/twitter.png">
                </div>
                <div class="col-md-8">
                    <h4>Participate to out Yammer Group</h4>
                    <p><a href="https://www.yammer.com/dtpefw/">DTP EFW Yammer</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
