
<!-- START PAGE-CONTAINER -->
<div class="page-container">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <div class="full-height full-width" ui-view>
            	<div class="row home suez-bg">
				    <div class="col-md-6 col-md-offset-3 text-center">
				        <h1>Home<span class="green">.</span></h1>
				        <p class="lead">Welcome to the EfW App</p>
				        <p>You can use this app to find plants and infos about them.</p>
				        <a href="#/app/home" class="btn btn-default">Start using the app</a>
				    </div>
				</div>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
        <div ng-include=" 'tpl/blocks/footer.html'">
        </div>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->

<div class="content">
  <!-- START JUMBOTRON -->
  <div class="jumbotron no-margin" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <h3 class="">Page Title</h3>
      </div>
    </div>
  </div><!-- END JUMBOTRON -->
  <div class="container-fluid container-fixed-lg demo-container">
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
      <li>
        <p>home</p>
      </li>
      <li>
        <a class="active" href="#">Parallax for page title</a>
      </li>
    </ul><!-- END BREADCRUMB -->
    
  </div>
</div><!-- END PAGE CONTENT -->