<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="#/app/users">Users</a>
        </li>
        <li>
          <a href="#/app/register">New user</a>
        </li>
    </ul>
    <!-- END BREADCRUMB -->
    <h1 class="page-title">Creating user :</h1>
</div>

<div class="container-fluid container-fixed-lg">
    <!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
                 ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN
                  -->
    <!-- CONTENT GOES HERE-->

  
  <div class="row">
    <div class="col-xs-8 col-md-offset-2">
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    </div>
  </div>

  <div class="row">
    <form class="col-xs-6 col-md-offset-3 form" class="ng-invalid ng-invalid-required ng-valid-email" ng-submit="register()">    
      <h2>User information</h2>
      <p>
        <small>Please fill the form below to create a user. Link him to a plant and define his role.</small>
      </p>
      <div class="row">
        
        <div class="col-sm-6">
          <div class="form-group form-group-default required">
            <label for="firstName">First Name</label>
            <input class="form-control ng-invalid ng-invalid-required" type="text" id="firstName" name="firstName" placeholder="Enter the user first name" ng-model="registerForm.firstName" required>
          </div>
          <label class="error ng-hide" for="firstName" ng-show="registerForm.firstName.$invalid &amp;&amp; !registerForm.firstName.$pristine">This field is required.</label>
        </div>

        <div class="col-sm-6">
          <div class="form-group form-group-default required">
            <label for="lastName">Last Name</label>
            <input class="form-control ng-invalid ng-invalid-required" type="text" id="lastName" name="lastName" placeholder="Enter the user last name" ng-model="registerForm.lastName" capitalize required>
          </div>
          <label class="error ng-hide" for="lastName" ng-show="registerForm.lastName.$invalid &amp;&amp; !registerForm.lastName.$pristine">This field is required.</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default required">
            <label for="username">User Name</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="Enter the username" ng-model="registerForm.username" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group form-group-default required">
            <label for="firstName">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Enter the password" ng-model="registerForm.password" required>
          </div>
        </div>
        
      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label for="Picture">Picture</label>
            <input class="form-control" type="text" id="picture" name="picture" placeholder="Enter the user picture" ng-model="registerForm.picture">
          </div>
        </div>

      </div>

      <div class="row">
          
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label for="role">Role</label>
            <input class="form-control" type="text" id="role" name="role" placeholder="Enter the user role" ng-model="registerForm.role">
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group form-group-default form-group-default-select">
            <label for="attachment">Attachment</label>
            <select class="form-control dropdown" ng-options="plant._id as plant.title for plant in plants" ng-model="registerForm.attachment"></select>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6">
          <div class="form-group form-group-default required">
            <label for="mail">Mail</label>
            <input class="form-control" type="text" id="mail" name="mail" placeholder="Enter the user mail" ng-model="registerForm.mail" required>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group form-group-default">
            <label for="tel">Tel</label>
            <input class="form-control" type="text" id="tel" name="tel" placeholder="Enter the user tel" ng-model="registerForm.tel">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-6">
          <input type="submit" value="{{isSubmitting ? 'registering user...' : 'Register user'}}" class="btn btn-primary btn-cons m-b-10" ng-disabled="isSubmitting">
        </div>
      </div>

    </form>
  </div>

</div>
